html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #171b1d;
}

.background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg/bg-img-02-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url("../images/bg/bg-img-02.jpg");
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #8f6d4f;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.page-header {
  width: 100%;
  background-color: rgba(23, 27, 29, 0.9);
}

.header-logo__link {
  display: block;
  opacity: 0.8;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo__link:hover {
  opacity: 1;
}

@media screen and (max-width: 359px) {
  .header-logo__link {
    margin-bottom: 20px;
    width: 180px;
  }
}

@media screen and (min-width: 360px) {
  .header-logo__link {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo__link {
    width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo__link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (orientation: landscape) {
  .header-logo__link {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
  }
}

.header-tel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-tel__link .header-tel__icon {
  width: 11px;
  height: 17px;
  fill: #ce9c71;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  .header-tel__link .header-tel__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-tel__link .header-tel__icon {
    width: 15px;
    height: 20px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .header-tel__link .header-tel__icon {
    width: 11px;
    height: 17px;
  }
}

.header-tel__link span {
  padding-top: 3px;
  margin-left: 10px;
  font-size: 17px;
  color: #ce9c71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 360px) {
  .header-tel__link span {
    padding-top: 1px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .header-tel__link span {
    padding-top: 2px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-tel__link span {
    padding-right: 15px;
  }
}

@media screen and (orientation: landscape) {
  .header-tel__link span {
    padding-right: 10px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .header-tel__link span {
    padding-top: 1px;
    font-size: 16px;
  }
}

.header-tel__link:hover > .header-tel__icon {
  fill: #ffffff;
}

.header-tel__link:hover > span {
  color: #ffffff;
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.hero {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container.header,
  .container.hero,
  .container.products {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 359px) {
  .container.header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 360px) {
  .container.header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) {
  .container.header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .container.header {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container.footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.hero-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 410px) {
  .hero-title {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-list__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .product-list__item {
    width: calc((100% - 30px) / 2);
  }
  .product-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__item {
    width: calc((100% - 60px) / 3);
  }
  .product-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.product-item__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item__link:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product-item__thumb {
  position: relative;
  overflow: hidden;
}

.product-item__thumb .product-item__img {
  width: 100%;
}

.product-item__thumb .product-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #8f6d4f;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.product-item__link:hover .product-item__thumb .product-item__overlay,
.product-item__link:focus .product-item__thumb .product-item__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.product-item__thumb .product-item__overlay .product-item__hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  -webkit-transform: opacity;
          transform: opacity;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  opacity: 0;
}

.product-item__link:hover .product-item__thumb .product-item__overlay .product-item__hover-text,
.product-item__link:focus .product-item__thumb .product-item__overlay .product-item__hover-text {
  opacity: 1;
}

.product-item__meta {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: rgba(23, 27, 29, 0.9);
}

.product-item__meta .product-item__meta-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #dddddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item__meta .product-item__meta-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.87;
  color: #747474;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #171b1d;
}

.footer-list > .item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (max-width: 1199px) {
  .page-footer .contacts {
    margin-bottom: 60px;
  }
}

.page-footer .contacts .footer-list .link {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

.page-footer .contacts .footer-list .link .google-map {
  display: block;
  color: #ffffff;
}

.join > b {
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
}

.join-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-set > .item:not(:last-child) {
  margin-right: 20px;
}

.join-set .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-set .button:hover,
.join-set .button:focus {
  background-color: #8f6d4f;
}
/*# sourceMappingURL=main.css.map */