html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #171b1d;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #68aad3;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.page-header {
  width: 100%;
  background-color: #171b1d;
}

.header-logo__link {
  display: block;
  opacity: 0.8;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo__link:hover {
  opacity: 1;
}

@media screen and (max-width: 359px) {
  .header-logo__link {
    margin-bottom: 20px;
    width: 220px;
  }
}

@media screen and (min-width: 360px) {
  .header-logo__link {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo__link {
    width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo__link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (orientation: landscape) {
  .header-logo__link {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
  }
}

.header-tel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-tel__link .header-tel__icon {
  width: 14px;
  height: 18px;
  fill: #78b7dd;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  .header-tel__link .header-tel__icon {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .header-tel__link .header-tel__icon {
    width: 10px;
    height: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header-tel__link .header-tel__icon {
    width: 14px;
    height: 18px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .header-tel__link .header-tel__icon {
    width: 11px;
    height: 17px;
  }
}

.header-tel__link span {
  margin-left: 10px;
  font-size: 20px;
  color: #78b7dd;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .header-tel__link span {
    font-size: 18px;
    margin-left: 7px;
  }
}

@media screen and (min-width: 768px) {
  .header-tel__link span {
    padding-top: 1px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-tel__link span {
    padding-right: 15px;
  }
}

@media screen and (orientation: landscape) {
  .header-tel__link span {
    padding-right: 10px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .header-tel__link span {
    padding-top: 1px;
    font-size: 16px;
  }
}

.header-tel__link:hover > .header-tel__icon {
  fill: #ffffff;
}

.header-tel__link:hover > span {
  color: #ffffff;
}

.section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

.section.hero {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.6)), to(rgba(47, 48, 58, 0.6)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6));
}

@media screen and (min-width: 768px) {
  .section.hero {
    padding-top: 90px;
    padding-bottom: 110px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-bg-01-768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-bg-01-768.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .section.hero {
    padding-top: 120px;
    padding-bottom: 140px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-bg-01-1440.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-bg-01-1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.section.article {
  padding-top: 0;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section.article {
    padding-top: 40px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container.header,
  .container.hero,
  .container.products {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 359px) {
  .container.header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 360px) {
  .container.header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) {
  .container.header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1440px) {
  .container.header {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container.hero {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container.hero {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container.article {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (orientation: portrait) {
  .container.footer {
    position: relative;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (orientation: landscape) {
  .container.footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (orientation: landscape) and (max-width: 666px) {
  .container.footer {
    padding-left: 80px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 667px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) and (max-width: 1199px) {
  .container.footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) {
  .container.footer {
    width: 768px;
  }
}

@media screen and (orientation: landscape) and (min-width: 812px) {
  .container.footer {
    width: 812px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .container.footer {
    width: 1024px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .container.footer {
    padding-left: 60px;
    width: 1200px;
  }
}

.hero-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 410px) {
  .hero-title {
    font-size: 40px;
  }
}

.hero-text {
  line-height: 1.6;
}

@media screen and (min-width: 1200px) {
  .products-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #d8d8d8;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-list__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .product-list__item {
    width: calc((100% - 30px) / 2);
  }
  .product-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__item {
    width: calc((100% - 60px) / 3);
  }
  .product-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.product-item__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item__link:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product-item__thumb {
  position: relative;
  overflow: hidden;
}

.product-item__thumb .product-item__img {
  width: 100%;
}

.product-item__thumb .product-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4b8cb4;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.product-item__link:hover .product-item__thumb .product-item__overlay,
.product-item__link:focus .product-item__thumb .product-item__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}

.product-item__thumb .product-item__overlay .product-item__hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  -webkit-transform: opacity;
          transform: opacity;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  opacity: 0;
}

.product-item__link:hover .product-item__thumb .product-item__overlay .product-item__hover-text,
.product-item__link:focus .product-item__thumb .product-item__overlay .product-item__hover-text {
  opacity: 1;
}

.product-item__meta {
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: rgba(23, 27, 29, 0.9);
}

.product-item__meta .product-item__meta-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #d8d8d8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-item__meta .product-item__meta-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.87;
  color: #818181;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-title,
.article-text,
.article-list {
  display: block;
  color: #292f33;
}

@media screen and (min-width: 1200px) {
  .article-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .article-hero .article-hero__thumb {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .article-hero .article-hero__thumb {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .article-hero .article-hero__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    min-width: 700px;
    width: 100%;
    overflow: hidden;
  }
}

.article-hero .article-hero__thumb .article-hero__img {
  width: 100%;
}

.article-hero .article-title.h1 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 26px;
}

@media screen and (min-width: 375px) {
  .article-hero .article-title.h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 480px) {
  .article-hero .article-title.h1 {
    margin: 0 auto;
    width: 480px;
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .article-hero .article-title.h1 {
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
    font-size: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .article-hero .article-title.h1 {
    margin: auto 0;
  }
}

.article-title.h2 {
  margin: auto 0;
  font-size: 22px;
}

@media screen and (min-width: 375px) {
  .article-title.h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .article-title.h2 {
    font-size: 34px;
  }
}

.article-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 375px) {
  .article-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .article-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
  }
}

.article-list {
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
  list-style: square;
}

@media screen and (min-width: 1200px) {
  .article-list {
    margin: auto 0;
    max-width: 768px;
  }
}

.background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
}

.background.home-page {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/bg/bg-img-001-414.jpg");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/bg/bg-img-001-414.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .background.home-page {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/bg/bg-img-001-768.jpg");
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/bg/bg-img-001-768.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .background.home-page {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/bg/bg-img-001-1440.jpg");
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/bg/bg-img-001-1440.jpg");
    background-size: cover;
    background-position: center;
  }
}

.footer-subtitle {
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 26px;
  color: #818181;
}

.footer-nav,
.footer-address__list,
.footer-join {
  margin-bottom: 50px;
}

.footer-nav__list a,
.footer-address__list a {
  display: inline-block;
  color: #78b7dd;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__list a:hover,
.footer-address__list a:hover {
  color: #ffffff;
}

.page-footer {
  background-color: #171b1d;
}

.page-footer .footer-logo__link {
  display: block;
  margin-bottom: 50px;
  opacity: 0.8;
  width: 200px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .footer-nav__list li:not(:last-child) {
  margin-bottom: 15px;
}

.page-footer .footer-nav__list .footer-nav__list-link {
  display: inline-block;
  font-size: 24px;
}

.page-footer .footer-nav__list .footer-nav__list-link.current {
  color: #ffffff;
}

.page-footer .footer-address__list li:not(:last-child) {
  margin-bottom: 15px;
}

.page-footer .footer-address__list li:not(:first-child) .footer-address__list-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page-footer .footer-address__list .google-map span:not(:last-child) {
  margin-bottom: 15px;
}

.page-footer .footer-address__list svg {
  margin-right: 10px;
  width: 22px;
  fill: #78b7dd;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .footer-address__list .address-icon__mail {
  height: 14px;
}

.page-footer .footer-address__list .address-icon__tel {
  height: 17px;
}

.page-footer .footer-address__list span {
  display: block;
  font-size: 24px;
}

.page-footer .footer-address__list .footer-address__list-link:hover > .address-icon__mail,
.page-footer .footer-address__list .footer-address__list-link:hover > .address-icon__tel {
  fill: #ffffff;
}

.page-footer .footer-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer .footer-join a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .footer-join a:hover {
  background-color: #4b8cb4;
}

.page-footer .footer-join a:first-child {
  margin-right: 20px;
}

.page-footer .footer-join svg {
  height: 25px;
  width: 25px;
}

@media screen and (orientation: portrait) {
  .page-footer {
    background-color: #171b1d;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .page-footer .footer-content__wrap {
    width: 350px;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .page-footer .footer-content__wrap:nth-child(1) {
    padding-left: 50px;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .page-footer .footer-content__wrap:nth-child(2) {
    padding-top: 115px;
    padding-left: 20px;
  }
}

@media screen and (orientation: portrait) {
  .page-footer .footer-copyright {
    font-size: 14px;
    color: #818181;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
  .page-footer .footer-copyright {
    padding-left: 50px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .footer-content__wrap .footer-subtitle {
    font-size: 20px;
  }
}

@media screen and (orientation: landscape) and (min-width: 736px) {
  .footer-content__wrap .footer-subtitle {
    font-size: 22px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .footer-content__wrap:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (orientation: landscape) {
  .footer-content__wrap:nth-child(1) .footer-logo__link {
    width: 200px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .footer-content__wrap:nth-child(1) .footer-logo__link {
    margin-right: 50px;
    width: 140px;
  }
}

@media screen and (orientation: landscape) and (min-width: 736px) {
  .footer-content__wrap:nth-child(1) .footer-logo__link {
    margin-right: 50px;
    width: 160px;
  }
}

@media screen and (orientation: landscape) and (min-width: 812px) {
  .footer-content__wrap:nth-child(1) .footer-logo__link {
    margin-right: 80px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .footer-content__wrap:nth-child(1) .footer-logo__link {
    margin-right: 180px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .footer-content__wrap:nth-child(1) .footer-logo__link {
    margin-right: 250px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .footer-content__wrap:nth-child(1) .footer-nav__list a {
    font-size: 18px;
  }
}

@media screen and (orientation: landscape) and (min-width: 736px) {
  .footer-content__wrap:nth-child(1) .footer-nav__list a {
    font-size: 20px;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .footer-content__wrap:nth-child(2) {
    padding-left: 50px;
  }
  .footer-content__wrap:nth-child(2) .footer-address__list {
    margin-bottom: 30px;
  }
  .footer-content__wrap:nth-child(2) .footer-address__list-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-content__wrap:nth-child(2) .google-map span,
  .footer-content__wrap:nth-child(2) .footer-address__list-link span {
    font-size: 18px;
  }
  .footer-content__wrap:nth-child(2) .address-icon__mail {
    height: 12px;
  }
  .footer-content__wrap:nth-child(2) .address-icon__tel {
    height: 15px;
  }
  .footer-content__wrap:nth-child(2) .footer-address__list-link svg {
    margin-right: 10px;
    width: 18px;
    fill: #78b7dd;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (orientation: landscape) and (min-width: 736px) {
  .footer-content__wrap:nth-child(2) .google-map span,
  .footer-content__wrap:nth-child(2) .footer-address__list-link span {
    font-size: 20px;
  }
}

@media screen and (orientation: landscape) and (min-width: 812px) {
  .footer-content__wrap:nth-child(2) {
    padding-left: 80px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .footer-content__wrap:nth-child(2) {
    padding-left: 160px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
  .footer-content__wrap:nth-child(2) {
    padding-left: 210px;
  }
}

@media screen and (orientation: landscape) {
  .footer-copyright {
    color: #818181;
  }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
  .footer-copyright {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */