.hero-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;

  @media screen and (min-width: 375px) {
    font-size: 36px;
  }

  @media screen and (min-width: 410px) {
    font-size: 40px;
  }
}
