// ================== Page Footer ==================

// Subtitle *
.footer-subtitle {
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 26px;
  color: $secondary-grey-text-color;
}

// ul *
.footer-nav,
.footer-address__list,
.footer-join {
  margin-bottom: 50px;
}

// a *
.footer-nav__list a,
.footer-address__list a {
  display: inline-block;
  color: $accent-text-color-lighter;
  @include transition(color);

  &:hover {
    color: $primary-white-text-color;
  }
}

// -------------------------------------- Page Footer
.page-footer {
  background-color: $footer-bg-color;

  // Logo
  .footer-logo__link {
    display: block;
    margin-bottom: 50px;
    opacity: 0.8;
    width: 200px;
    @include transition(opacity);
  }

  // Nav links
  .footer-nav__list {
    li:not(:last-child) {
      margin-bottom: 15px;
    }

    // a
    & .footer-nav__list-link {
      display: inline-block;
      font-size: 24px;

      &.current {
        color: $primary-white-text-color;
      }
    }
  }

  // Contacts
  .footer-address__list {
    & li:not(:last-child) {
      margin-bottom: 15px;
    }

    // li > a
    & li:not(:first-child) .footer-address__list-link {
      display: inline-flex;
      align-items: baseline;
    }

    // a > span
    .google-map {
      & span:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    // dont change the height of svg
    & svg {
      margin-right: 10px;
      width: 22px;
      fill: $accent-color-lighter;
      @include transition(fill);
    }

    // icon
    .address-icon__mail {
      height: 14px;
    }

    // icon
    .address-icon__tel {
      height: 17px;
    }

    // * a > span
    & span {
      display: block;
      font-size: 24px;
    }

    // hover
    .footer-address__list-link:hover > .address-icon__mail,
    .footer-address__list-link:hover > .address-icon__tel {
      fill: $primary-white-text-color;
    }
  }

  // Join
  .footer-join {
    display: flex;

    // button
    & a {
      display: block;
      @include flex();
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      background-repeat: no-repeat;
      @include transition(background-color);

      &:hover {
        background-color: $accent-color-bg;
      }

      &:first-child {
        margin-right: 20px;
      }
    }

    // social icon
    & svg {
      height: 25px;
      width: 25px;
    }
  }
}

// =============================== Orientation Portrait
@media screen and (orientation: portrait) {
  .page-footer {
    background-color: $footer-bg-color;

    // <--- [Container] --->

    // * Wraps
    .footer-content__wrap {
      @media screen and (min-width: 768px) {
        width: 350px;
      }
    }

    // -------------------------------------- Wrap (1)
    .footer-content__wrap:nth-child(1) {
      // background-color: rgba(255, 0, 0, 0.075);

      @media screen and (min-width: 768px) {
        padding-left: 50px;
      }
    }

    // -------------------------------------- Wrap (2)
    .footer-content__wrap:nth-child(2) {
      // background-color: rgba(0, 255, 0, 0.068);

      @media screen and (min-width: 768px) {
        padding-top: 115px;
        padding-left: 20px;
      }
    }

    // -------------------------------------- Copyright
    .footer-copyright {
      // background-color: rgba(0, 162, 255, 0.089);
      font-size: 14px;
      color: $secondary-grey-text-color;

      @media screen and (min-width: 768px) {
        padding-left: 50px;
      }
    }
  }
}

// =============================== Orientation landscape
@media screen and (orientation: landscape) {
  // * Wraps
  .footer-content__wrap {
    // Subtitle
    .footer-subtitle {
      @media screen and (min-width: 667px) {
        font-size: 20px;
      }

      @media screen and (min-width: 736px) {
        font-size: 22px;
      }
    }

    // -------------------------------------- Wrap (1)
    &:nth-child(1) {
      // background-color: rgba(255, 0, 0, 0.075);

      @media screen and (min-width: 667px) {
        display: flex;
      }

      // Logo
      .footer-logo__link {
        width: 200px;

        @media screen and (min-width: 667px) {
          margin-right: 50px;
          width: 140px;
        }

        @media screen and (min-width: 736px) {
          margin-right: 50px;
          width: 160px;
        }

        @media screen and (min-width: 812px) {
          margin-right: 80px;
        }

        @media screen and (min-width: 1024px) {
          margin-right: 180px;
        }

        @media screen and (min-width: 1200px) {
          margin-right: 250px;
        }
      }

      // Nav links
      .footer-nav__list a {
        @media screen and (min-width: 667px) {
          font-size: 18px;
        }

        @media screen and (min-width: 736px) {
          font-size: 20px;
        }
      }
    }

    // -------------------------------------- Wrap (2)
    &:nth-child(2) {
      // background-color: rgba(0, 255, 0, 0.068);
      @media screen and (min-width: 667px) {
        padding-left: 50px;

        .footer-address__list {
          margin-bottom: 30px;
        }

        .footer-address__list-link {
          display: inline-flex;
          align-items: flex-end;
        }

        .google-map span,
        .footer-address__list-link span {
          font-size: 18px;
        }

        // icon
        .address-icon__mail {
          height: 12px;
        }

        // icon
        .address-icon__tel {
          height: 15px;
        }

        .footer-address__list-link svg {
          margin-right: 10px;
          width: 18px;
          fill: $accent-color-lighter;
          @include transition(fill);
        }
      }

      @media screen and (min-width: 736px) {
        .google-map span,
        .footer-address__list-link span {
          font-size: 20px;
        }
      }

      @media screen and (min-width: 812px) {
        padding-left: 80px;
      }

      @media screen and (min-width: 1024px) {
        padding-left: 160px;
      }

      @media screen and (min-width: 1200px) {
        padding-left: 210px;
      }
    }
  }

  // -------------------------------------- Copyright
  .footer-copyright {
    // background-color: rgba(0, 162, 255, 0.089);
    color: $secondary-grey-text-color;

    @media screen and (min-width: 667px) {
      font-size: 14px;
    }
  }
}
