.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-black-color-07;
}

.header-logo__link {
  display: block;

  @media screen and (max-width: 359px) {
    margin-bottom: 20px;
    width: 180px;
  }

  @media screen and (min-width: 360px) {
    padding-top: 15px;
    // padding-left: 2px;
    padding-bottom: 15px;
    width: 130px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 5px;
    width: 180px;
  }
}

.header-tel__link {
  display: flex;
  align-items: center;

  .header-tel__icon {
    width: 11px;
    height: 17px;
    fill: $accent-color-lighter;

    @media screen and (min-width: 360px) and (max-width: 374px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      width: 15px;
      height: 20px;
    }
  }

  & span {
    padding-top: 3px;
    margin-left: 10px;
    font-size: 17px;
    color: $accent-text-color-lighter;

    @media screen and (min-width: 360px) {
      padding-top: 1px;
      padding-right: 2px;
      // margin-left: 7px;
      font-size: 18px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 2px;
      padding-right: 15px;
      // margin-left: 10px;
      font-size: 20px;
    }

    // @media screen and (min-width: 360px){

    // }
  }

  //   @media screen and (min-width: 350px) and (max-width: 374px) {
  //     display: none;
  //   }
  // }

  // @media screen and (min-width: 350px) {
  //   display: flex;
  //   align-items: center;
  //   color: $accent-text-color-lighter;

  // }
}

.header-tel__icon {
  width: 12px;
  height: 17px;
  fill: $accent-color-lighter;
}
