// Page Footer
.page-footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;

  @media screen and (max-width: 767px) {
    min-height: 100vh;
  }

  @media screen and (min-width: 414px) {
    padding-top: 60px;
  }
}

// Footer Contacts
.footer-contacts {
  margin-bottom: 35px;

  @media screen and (min-width: 414px) {
    margin-bottom: 60px;
  }
}

// logo
.footer-logo__link {
  display: block;
  width: 80%;
  margin-bottom: 35px;
  opacity: 0.8;
  @include transition(opacity);

  @media screen and (min-width: 375px) {
    width: 70%;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 414px) {
    margin-bottom: 60px;
  }

  &:hover {
    opacity: 1;
  }
}

// Address
.footer-list__item:not(:last-child) {
  margin-bottom: 15px;

  @media screen and (min-width: 375px) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

// GROUP
.footer-address__link-google,
.footer-mail__link,
.footer-tel__link {
  color: $accent-text-color-lighter;
  font-size: 22px;

  @media screen and (min-width: 375px) {
    font-size: 24px;
  }
}

.footer-address__link-google {
  text-decoration: none;
  font-style: normal;

  & .footer-address {
    display: block;

    &:not(:last-child) {
      margin-bottom: 7px;

      @media screen and (min-width: 375px) {
        margin-bottom: 24px;
      }

      @media screen and (min-width: 375px) {
        margin-bottom: 14px;
      }
    }
  }
}

.footer-mail__link,
.footer-tel__link {
  display: flex;
  align-items: center;

  .footer-mail__icon,
  .footer-tel__icon {
    margin-right: 10px;
    height: 18px;
    fill: $accent-color-lighter;
    @include transition(fill);

    @media screen and (min-width: 375px) {
      height: 20px;
    }
  }
}

.footer-mail__icon {
  padding-top: 3px;
  width: 26px;
}

.footer-tel__icon {
  width: 14px;

  @media screen and (min-width: 375px) {
    width: 18px;
  }
}

// Join
.footer-join {
  margin-bottom: 50px;

  .footer-join__subtitle {
    display: block;
    font-size: 24px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: 414px) {
    margin-bottom: 60px;
  }
}

.join-set {
  display: flex;

  & > .join-item:not(:last-child) {
    margin-right: 20px;
  }

  .join-button {
    @include flex();
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    @include transition(background-color);

    .join-button__icon {
      width: 25px;
      height: 25px;
    }
  }

  & .join-button:hover,
  & .join-button:focus {
    background-color: $accent-color;
  }
}

.footer-copyright {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: block;
  font-size: 18px;
  color: $secondary-grey-text-color;

  @media screen and (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

// Media 1200px

// @media screen and (min-width: 1200px) {
//   .page-footer .contacts {
//     width: 231px;
//     margin-right: 69px;
//   }

//   .page-footer .join {
//     margin-right: 94px;
//   }
// }
