// Page Footer
.page-footer {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;

  @media screen and (max-width: 767px) {
    min-height: 100vh;
  }
}

// Footer Contacts
.footer-contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 35px;
  }
}

// logo
.footer-logo__link {
  display: block;
  width: 80%;
  margin-bottom: 35px;
  opacity: 0.8;
  @include transition(opacity);

  &:hover {
    opacity: 1;
  }
}

// Address
.footer-list__item:not(:last-child) {
  margin-bottom: 30px;
}

// GROUP
.footer-address__link-google,
.footer-mail__link,
.footer-tel__link {
  color: $accent-text-color-lighter;
  font-size: 22px;
}

.footer-address__link-google {
  text-decoration: none;
  font-style: normal;

  & > span {
    display: block;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.footer-mail__link,
.footer-tel__link {
  display: flex;
  align-items: center;

  .footer-mail__icon,
  .footer-tel__icon {
    margin-right: 10px;
    height: 22px;
    fill: $accent-color-lighter;
    @include transition(fill);
  }
}

.footer-mail__icon {
  padding-top: 3px;
  width: 22px;
}

.footer-tel__icon {
  width: 14px;
}

// Join

.join > b {
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
}

.join-set {
  display: flex;

  // @media screen and (max-width: 1199px) {
  //   margin-bottom: 60px;
  // }

  & > .item:not(:last-child) {
    margin-right: 20px;
  }

  .button {
    @include flex();
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;

    @include transition(background-color);
  }

  & .button:hover,
  & .button:focus {
    background-color: $accent-color;
  }
}

// Media 1200px

// @media screen and (min-width: 1200px) {
//   .page-footer .contacts {
//     width: 231px;
//     margin-right: 69px;
//   }

//   .page-footer .join {
//     margin-right: 94px;
//   }
// }
