// ================== Section ==================

.background {
  position: fixed;
  top: 0;
  // bottom: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;

  &.home-page {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("../images/bg/bg-img-001-414.jpg");
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
        ),
        url("../images/bg/bg-img-001-768.jpg");
      background-size: cover;
      background-position: center;
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8)
        ),
        url("../images/bg/bg-img-001-1440.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
