// ================== Container ==================

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// GROUP
.container.header,
.container.hero,
.container.products {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

// Container Header
.container.header {
  display: flex;
  align-items: center;

  @media screen and (max-width: 359px) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 360px) {
    justify-content: space-between;
  }

  @media screen and (orientation: landscape) {
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }
}

// Container Hero
.container.hero {
  @media screen and (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}

// Container Article
// .container.article {
//   background-color: skyblue;
// }

// Container Footer
.container.footer {
  position: relative;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;

  @media screen and (min-width: 375px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 414px) {
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 60px;
  }

  @media screen and (orientation: portrait) {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 220px;
      padding-left: 120px;
    }

    @media screen and (min-width: 1024px) {
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      width: 100%;
    }
  }

  @media screen and (orientation: landscape) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 140px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    width: 100%;

    @media screen and (min-width: 667px) {
      padding-left: 70px;
    }

    @media screen and (min-width: 812px) {
      padding-top: 160px;
      padding-left: 100px;
      // flex-wrap: nowrap;
    }

    @media screen and (min-width: 1024px) {
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}
