// ================== Container ==================

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// GROUP
.container.header,
.container.hero,
.container.products {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

// -------------------------- Container Header
.container.header {
  display: flex;
  align-items: center;

  @media screen and (max-width: 359px) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 360px) {
    justify-content: space-between;
  }

  @media screen and (orientation: landscape) {
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }
}

// -------------------------- Container Hero
.container.hero {
  @media screen and (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}

// Container Article
.container.article {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

// -------------------------- Container Footer
.container.footer {
  // Portrait
  @media screen and (orientation: portrait) {
    position: relative;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // Landscape
  @media screen and (orientation: landscape) {
    padding-top: 60px;
    padding-bottom: 30px;

    @media screen and (max-width: 666px) {
      padding-left: 80px;
    }

    @media screen and (min-width: 667px) {
      display: flex;
      flex-wrap: wrap;
      width: 667px;

      @media screen and (max-width: 1199px) {
        justify-content: center;
      }
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 812px) {
      width: 812px;
    }

    @media screen and (min-width: 1024px) {
      width: 1024px;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 60px;
      width: 1200px;
    }
  }
}
