// ================== Section ==================

.section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

// Section Hero
.section.hero {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero/hero-bg-01-414.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 110px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/hero/hero-bg-01-768.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 140px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/hero/hero-bg-01-1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// Section Article
.section.article {
  padding-top: 0;
  background-color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    padding-top: 40px;
  }
}
