// Fonts
$primary-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

// Font color
$primary-white-text-color: #ffffff;
$accent-text-color: #68aad3;
$accent-text-color-lighter: #78b7dd;
$primary-grey-text-color: #d8d8d8;
$secondary-grey-text-color: #818181;

// Colors
$primary-black-color: #171b1d;
$primary-black-color-09: rgba(23, 27, 29, 0.9);
$primary-black-color-07: rgba(23, 27, 29, 0.7);
$secondary-black-color: #292f33;
$accent-color: #68aad3;
$accent-color-lighter: #78b7dd;
$primary-white-color: #ffffff;
$primary-grey-color: #d8d8d8;
// $secondary-grey-color: #6c7f86;

// Overlay
$accent-color-bg: #4b8cb4;

// Footer
$footer-bg-color: #171b1d;
$footer-bg-color-darker: #101314;

// Animation
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
