// Fonts
$primary-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

// Font color
$primary-white-text-color: #ffffff;
$accent-text-color: #8f6d4f;
$accent-text-color-lighter: #ce9c71;
$primary-grey-text-color: #dddddd;
$secondary-grey-text-color: #747474;

// Colors
$primary-black-color: #171b1d;
$primary-black-color-09: rgba(23, 27, 29, 0.9);
$primary-black-color-07: rgba(23, 27, 29, 0.7);
$secondary-black-color: #292f33;
$accent-color: #8f6d4f;
$accent-color-lighter: #ce9c71;
$primary-white-color: #ffffff;
$primary-grey-color: #dddddd;
$secondary-grey-color: #747474;

// Footer
$footer-bg-color: #171b1d;
$footer-bg-color-darker: #101314;

// Animation
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
