// Fonts
$primary-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

// Font color
$primary-text-color: #ffffff;
$accent-text-color: #8f6d4f;

// Colors
$primary-color: #171b1d;
// $accent-color: #;
$primary-white-color: #ffffff;

// Animation
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
